---
- hosts: localhost
  become: true
  vars:
    dracula_theme: yes

  tasks:
    - name: Import global variables
      include_vars:
        file: "env.yml"
        name: global
    - name: Install openbox dependences on Arch Linux
      pacman:
        name:
          - openbox
          - notify-osd
          - flameshot
          - rofi
          - xautolock
          - nautilus
          - obconf
          - vivaldi
          - alacritty
      when: ansible_facts['os_family'] == "Archlinux"
    # TODO: Added openbox-menu installation from AUR. https://github.com/kewlfft/ansible-aur
    - name: Import dracula theme
      import_tasks: theme/dracula.yml
      when: dracula_theme
    - name: Import tint2 tasks
      import_tasks: modules/tint2.yml
    - name: Import redshift tasks
      import_tasks: modules/redshift.yml
    - name: Import nitrogen tasks
      import_tasks: modules/nitrogen.yml
